.tiles_wrapper {
	margin: 1em 0;
	border: 1px solid blue;
	display: flex;
	flex-wrap: wrap;
	width: 408px;
	height: 408px;
}

.tile {
	border: 1px solid red;
	display: flex;
	width: 100px;
	height: 100px;
	align-items: center;
	text-align: center;
}

.tile_content {
	width: 100%;
	text-align: center;
}

.controls {
	margin: 1em 0;
	border: 1px solid red;
	display: flex;
	width: 408px;
	height: 50px;
	align-items: center;
	text-align: center;
}

.informer, .restarter {
	width: 50%;
	font-size: 16px;
	color: blue;
}

.App {
  text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 3em;
  padding: 20px;
  color: white;
	width: 100%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
